%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  %a.navbar-brand{:href => "#"} Movie Booking Application
  / Links
  %ul.navbar-nav
    - if current_user.present?
      %li.nav-item
        = link_to "Log out", destroy_user_session_path, method: :delete
